# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# SQLite 数据库文件
*.db
*.sqlite
*.sqlite3

# SQLite 临时文件（很关键）
*.db-shm
*.db-wal
*.sqlite-shm
*.sqlite-wal
